@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply font-sans antialiased bg-gray-50 text-gray-900;
    overflow-x: hidden;
  }

  /* Custom Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 0px; /* Hide horizontal scrollbar */
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full border-4 border-transparent bg-clip-padding;
    transition: background-color 0.3s;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }

  /* Support for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #D1D5DB transparent;
  }
}

.glass-panel {
  @apply bg-white border border-gray-100 shadow-sm rounded-xl;
}
